input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(67, 193, 53);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #b0d4da;
    border: 3px solid rgb(rgb(39, 30, 30), rgb(40, 127, 40), rgb(103, 103, 194));
    border-radius: 30px;
    box-sizing: border-box;
  }
  
  .container {
    border-radius: 25px;
    background-color: #b0d4da;
    padding: 25px;

  }

  h1{
    font-size:2000;
    background-color: rgb(31, 44, 214);
    color: #f2f2f2;
    border-radius: 20px;
    text-align: center;
    padding: .5%;
  }

  h5{
    font-size: small;
    color: red;
    text-align: right;
  }

 